#yt-typeahead, h1 {
    font-family: Roboto,arial,sans-serif;
}

#yt-typeahead {
    width: 583px
}

.react-typeahead-input-container {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
}

.react-typeahead-input-container input {
    font-size: 16px;
    height: 27px;
    padding: 2px 6px;
    width: 100%;
    border: 0;
    outline: none;
}

.react-typeahead-input-container input:focus {
    border: 1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.react-typeahead-options {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    border-top: 0;
    cursor: default;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2)
}

.yt-option {
    padding: 0 6px;
}

.yt-selected-option {
    background-color: #eee;
}
